<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mini-application</title>
</head>

<body>

    <div class="test-class">
        This is a test: <span id="number">{{ number}}</span>
    </div>
    
    <div>
    The form:
    <form name="send" method="POST">
        <input type="text" name="number" value="{{number}}">
        <br/>
        <button type="button" name="hitme"
                onclick="console.log('ouch!');">
            Hit me!
        </button>
        <input type="submit" value="Submit">
    </form>
    </div>

</body>

</html>
