<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mini-application</title>
</head>

<body>

    <div>
        This is a test: <span id="number">{{ number}}</span>
    </div>
    
    <div>
    The form:
    <ul>
        <li><a href="file:///etc/lsb-release">link 1</a></li>
        <li><a href="file://foo.bar/etc/lsb-release">link 2</a></li>
        <li><a href="file://\\192.168.125.5\some\file">link 3</a></li>
        <li><a href="file://///192.168.125.5/some/file">link 4</a></li>
        <li><a href="smb://192.168.125.5/some/file">link 5</a></li>

    </div>

</body>

</html>
