<html>
<body>
  <template id="layout">
    <material-docs-app>
        <app-navbar>
        </app-navbar>
        <component-page-header pe-deep this="page-header">
            <h1 pe-deep>[title]</h1>
        </component-page-header>
        <app-component-nav pe-deep this="nav-menu">
            <div>
            <div class="docs-component-viewer-nav-content">
                <nav this="[title]">
                    <button class="docs-nav-content-btn">
                        [title]
                        <mat-icon pe-optional>[icon]</mat-icon>
                    </button>
                    <ul>
                        <li this="[title]"><a href="[href]">[title]</a></li>
                    </ul>
                </nav>
            </div>
            </div>
        </app-component-nav>
        <slot name="content">
        <doc-viewer pe-deep>
            <pe-repeat this="examples">
                <div pe-deep this="[example]" material-docs-example="[example]">
                    <example-viewer>
                        <div pe-deep class="docs-example-viewer-title">
                            <slot name="title">
                                <div>[title]</div>
                            </slot>
                            <button class="+mat-icon-button"></button>
                        </div>
                        <div pe-deep class="docs-example-viewer-body" this="body">
                            <slot name="body"></slot>
                        </div>
                    </example-viewer>
                </div>
            </pe-repeat>
        </doc-viewer>
        </slot>
    </material-docs-app>
</template>

  <template id="example-layout">
    <material-docs-app>
        <app-navbar>
            <version-picker this="version" pe-deep pe-ctrl="mat-version-picker">
                <button aria-haspopup="true" this="button" mat-button aria-expanded="[expanded]">
                    <span class="mat-button-wrapper"> [version] <mat-icon/>
                    </span>
                </button>
                <pe-root>
                    <div class="cdk-overlay-container">
                        <div><div class="+cdk-overlay-pane">
                            <div class="+mat-menu-panel" role="menu" this="menu" pe-optional>
                                <div class="mat-menu-content">
                                    <button mat-menu-item this="[title]"> 
                                        [title] <div/>
                                    </button>
                                </div>
                            </div>
                        </div></div>
                    </div>
                </pe-root>
            </version-picker>
        </app-navbar>
        <component-page-header pe-deep this="page-header">
            <h1 pe-deep>[title]</h1>
        </component-page-header>
        <app-component-nav pe-deep this="nav-menu">
            <div>
            <div class="docs-component-viewer-nav-content">
                <nav this="nav_%d">
                    <button class="docs-nav-content-btn">[title]</button>
                    <ul>
                        <li this="[title]"><a href="[href]">[title]</a></li>
                    </ul>
                </nav>
            </div>
            </div>
        </app-component-nav>
        <component-examples pe-deep this="examples">
            <example-viewer this="example_%d">
                <div pe-deep class="docs-example-viewer-title">
                    <slot name="title">
                        <div>[title]</div>
                    </slot>
                    <button class="+mat-icon-button"></button>
                </div>
                <div pe-deep class="docs-example-viewer-body" this="body">
                    <slot name="body"></slot>
                </div>
            </example-viewer>
        </component-examples>
    </material-docs-app>
</template>
</body>
</html>
